.project-container {
    position: relative;
}

.project-container::after,
.project-container::before {
  content: "";
  width: 28rem;
  height: 28rem;
  border-radius: 28.125rem;
  background: #9e51b9;
  position: absolute;
  z-index: -1;
  filter: blur(300px);
}

.project-container::after {
  top: -3rem;
  left: 5rem;
}

.project-container::before {
  background: #9e51b9;
  bottom: 0;
  right: 0;
}

