@media (max-width : 1025px){

    .skills-info-card h6 {
        font-size: 1.1rem;
    }

    .skills-info p {
        font-size: 0.9rem;
    }

    .skills-info-content{
        padding: 1.5rem;
    }
}